"*":
  core:
    audioBeep: false
    disabledPackages: [
      "metrics"
      "vim-mode"
      "vim-surround"
    ]
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      ".*.un~"
    ]
    telemetryConsent: "no"
    themes: [
      "atom-dark-ui"
      "base16-tomorrow-dark-theme"
    ]
  editor:
    fontFamily: "Menlo"
    fontSize: 12
    invisibles: {}
    showIndentGuide: true
    tabLength: 4
    tabType: "soft"
  "exception-reporting":
    userId: "0e0eab33-8741-d8da-9b41-7993af26c502"
  linter: {}
  "linter-flake8":
    ignoreErrorCodes: [
      "E501"
    ]
  "linter-ui-default":
    showPanel: true
  metrics:
    userId: "34fe7957ad17e9519ec2e51dfc99d31827a146e0"
  minimap:
    displayMinimapOnLeft: true
  "tree-view":
    hideIgnoredNames: true
  "unity-dark-ui":
    colorStatusIndicatorsInTreeView: true
    showIcons: true
  "vim-mode": {}
  welcome:
    showOnStartup: false
